<div class="container">
  <div class="" style="display: flex;
    justify-content: space-between;align-items: center;">
      <img src="/images/taosimico.png" alt="" style="" class="mobile-header-image">
    <div class="">

      <h2>道杂货</h2>
      <h4>Simon在打磨博客</h4>
    </div>
    <div class="hide-lg" style="text-align:right;">
      <a href="/users/me">
        <% if session[:userId].nil? %>
          登录
          <% else %>
            个人中心
        <% end %>

      </a>
      <br><br><br>
      <div class="input-group">
        <input type="text" class="form-input" placeholder="标签 内容 标题" />
        <button class="btn btn-primary input-group-btn">搜索</button>
      </div>
    </div>
  </div>

  <hr>
  <div class="container">
    <br><br>
    <div class="timeline">
      <% @versions.each do |version| %>

            <div class="timeline-item" id="timeline-example-1">
              <% if version.status === "draft" %>
              <div class="timeline-left icon-lg">
                <a href="#timeline-example-1" class="timeline-icon tooltip" data-tooltip="2017年７月21日凌晨"></a>
              </div>
                <% else %>
                <div class="timeline-left">
                  <a href="#timeline-example-2" class="timeline-icon icon-lg tooltip" data-tooltip="February 2017">
                    <i class="icon icon-check"></i>
                  </a>
                </div>
                  <% end %>
                  <div class="timeline-content">
                    <div class="tile">
                      <div class="tile-content">
                        <p class="tile-subtitle"><%=version.post.updated_at %></p>
                        <p class="tile-title"><%=version.post.title%></p>
                        <p class="tile-title"><%=version.name%></p>
                        <p class="tile-title"><a href="components.html#steps">Steps</a>: progress indicators of a sequence of task steps</p>
                        <p class="tile-title"><a href="components.html#tiles">Tiles</a>: repeatable or embeddable information blocks</p>
                      </div>
                      <div class="tile-action">
                        <button class="btn">开始阅读</button>
                      </div>
                    </div>
                  </div>
            </div>


      <% end %>


                  </div>
  </div>


</div>
