<div class="container">
  <div class="" style="display: flex;
    justify-content: space-between;">
    <div class="">
      <h2>道杂货</h2>
      <h4>Simon在打磨博客</h4>
    </div>
    <div class="hide-lg" style="text-align:right;">
      <a href="#">登录|注册</a>
      <br><br><br>
      <div class="input-group">
        <input type="text" class="form-input" placeholder="标签 内容 标题" />
        <button class="btn btn-primary input-group-btn">搜索</button>
      </div>
    </div>
  </div>

  <hr>
  <div class="container">
    <br><br>
    <div class="timeline">
                    <div class="timeline-item" id="timeline-example-1">
                      <div class="timeline-left icon-lg">
                        <a href="#timeline-example-1" class="timeline-icon tooltip" data-tooltip="2017年７月21日凌晨"></a>
                      </div>
                      <div class="timeline-content">
                        <div class="tile">
                          <div class="tile-content">
                            <p class="tile-subtitle">2017年７月21日凌晨</p>
                            <p class="tile-title">开始写作比特币翻译的初稿</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-item" id="timeline-example-2">
                      <div class="timeline-left">
                        <a href="#timeline-example-2" class="timeline-icon icon-lg tooltip" data-tooltip="February 2017">
                          <i class="icon icon-check"></i>
                        </a>
                      </div>
                      <div class="timeline-content">
                        <div class="tile">
                          <div class="tile-content">
                            <p class="tile-subtitle">2017年７月21日凌晨</p>
                            <p class="tile-title">完成区块链科普第一版</p>
                            <p class="tile-title">摘要:</p>
                            <p class="tile-title"><a href="components.html#steps">Steps</a>: progress indicators of a sequence of task steps</p>
                            <p class="tile-title"><a href="components.html#tiles">Tiles</a>: repeatable or embeddable information blocks</p>
                          </div>
                          <div class="tile-action">
                            <button class="btn">开始阅读</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-item" id="timeline-example-3">
                      <div class="timeline-left">
                        <a href="#timeline-example-3" class="timeline-icon icon-lg tooltip" data-tooltip="March 2017">
                          <i class="icon icon-check"></i>
                        </a>
                      </div>
                      <div class="timeline-content">
                        <div class="tile">
                          <div class="tile-content">
                            <p class="tile-subtitle">March 2017</p>
                            <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                            <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                            <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                            <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                          </div>
                          <div class="tile-action">
                            <button class="btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  </div>


</div>
