<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="/spectre/spectre.min.css" />
  <link rel="stylesheet" href="/spectre/spectre-exp.min.css" />
  <link rel="stylesheet" href="/spectre/spectre-icons.min.css" />
  <%=javascript_include_tag 'jquery', 'jquery' %>

  <title>
      道杂货－Simon在打磨博客

  </title>
  <style media="screen">
    .cover-all{
      height: 800%;
      width: 100%;
      background-color: rgba(128, 128, 128, 0.31);
      position: absolute;
      z-index: 50;
      display: none;
    }
    .main-container{
      margin-left: 22%;
      margin-right: 10%;
    }
    @media screen and (max-width: 960px){
      .main-container{
        margin-left: 5%;
        margin-right: 10%;
      }
    }
  </style>
</head>

  <body>
    <div class="cover-all">
      &nbsp;
    </div>

    <div class="container">
      <div class="columns">

        <div class="column col-1 hide-lg left-side" style="position:fixed;top:-20px;z-index:100; min-width:234px;height:100%;overflow:overlay">
          <ul class="menu">
            <!-- menu header text -->
            <li class="divider">
            </li>
            <li  class="menu-item">
              <a href="/">
              <img src="/images/taosimlogo.png" alt="" style="width:80%;">
              </a>

            </li>
            <li class="divider" data-content="LINKS">
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="#">
                <i class="icon icon-link"></i> 推荐阅读
              </a>
            </li>

            <li class="divider"></li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="/user_session/new">
                <i class="icon icon-link"></i> 登录 | 注册
              </a>
            </li>
            <li class="divider">
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <div class="input-group">
                <input type="text" class="form-input" placeholder="标签 内容 标题" />
                <button class="btn btn-primary input-group-btn">搜索</button>
              </div>
            </li>
            <!-- menu divider -->
            <li class="divider"></li>
            <!-- menu item with badge -->
            <li class="menu-item">
              <div class="menu-badge">
                <label class="label label-primary">2</label>
              </div>
              <a href="#">
                <i class="icon icon-link"></i> 更新
              </a>
            </li>
            <!-- menu divider -->
            <li class="divider"></li>
            <!-- menu item with badge -->
            <li class="menu-item">
              <div class="menu-badge">
                <label class="label label-primary">2</label>
              </div>
              <a href="#">
                <i class="icon icon-link"></i> 最新初订
              </a>
            </li>
            <!-- menu divider -->
            <li class="divider"></li>
            <!-- menu item with badge -->
            <li class="menu-item">
              <div class="menu-badge">
                <label class="label label-primary">2</label>
              </div>
              <a href="#">
                <i class="icon icon-link"></i> 新稿
              </a>
            </li>
            <li>
              <h4>标签云</h4>
              <hr>
              <div class="container">
                <label class="chip">便签</label>
                <label class="chip">便签</label>
                <label class="chip">便签</label>
                <label class="chip">便签</label>
                <label class="chip">便签</label>
                  <label class="chip">便签</label>
              </div>
            </li>
            <li>
              广告位
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </li>
          </ul><br>


        </div>
        <div class="column col-xs-11 main-container">
          <div class="show-lg" id="responsive-menu" style="z-index:200;position: fixed;top:135px;width:100px;height:100px;">
                <button  class="btn btn-action btn-primary btn-lx"><i class="icon icon-menu"></i></button>&nbsp;
          </div>

          <%= yield %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var leftSideShow = false;
      $(document).ready(function(){
        $('.cover-all').click(function(){
          $(".left-side").css('cssText', 'position:fixed;top:-20px;display: none !important; z-index:100; min-width:234px;height:100%;overflow:overlay');
          $('.cover-all').hide();
          $("#responsive-menu").css('cssText', 'display: block !important;z-index:200;position:fixed;top:135px;width:100px;height:100px;');
          leftSideShow = false;
        });
        $("#responsive-menu").click(function(){
          if (leftSideShow == true) {
            $(".left-side").css('cssText', 'position:fixed;top:-20px;display: none !important; z-index:100;min-width:234px;height:100%;overflow:overlay');
            $('.cover-all').hide();
            leftSideShow = false;
            return false;
          }else {
            $(".left-side").css('cssText', 'position:fixed;top:-20px;display: block !important; z-index:100; min-width:234px;height:100%;overflow:overlay');
            $('.cover-all').show();
            $("#responsive-menu").css('cssText', 'display: none !important; z-index:100');
            leftSideShow = true;
            return false;
          }


        });
      });
    </script>
  </body>
</html>
